<%= form_for receiver, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :receiver, 'Destinatario' %>
    <%= f.text_field :receiver, class: 'form-control' %>
  </div>
  <%= f.submit 'Guardar', class: 'btn btn-primary bt-sm' %>
<% end %>
