<div class="row">
  <div class="col-md-4">
    <%= render partial: 'form', locals: {outgoing_movement_type: @outgoing_movement_type}  %>
  </div>
  <div class="col-md-8 table_container">
    <div class="row">
      <div class="col-md-6">Tipo de movimiento</div>
      <div class="col-md-6">Administrar</div>
    </div>
    <%= render @outgoing_movement_types %>
  </div>
</div>
<div class="modal_container"></div>