<ul>
  <li>Tipo: <strong>Cambio-Lubricación</strong></li>
  <li>Aeronave: <strong><%= @alert_fluid.fleet.name %></strong></li>
  <li>Registro: <strong><%= @alert_fluid.fleet.aircraft_registration %></strong></li>
  <li>Parte: <strong><%= @alert_fluid.fluid.part.description %></strong></li>
  <li>Numero de parte: <strong><%= @alert_fluid.fluid.part.part_number %></strong></li>
</ul>
