<div class="row">
  <div class="col-md-7">
    <%= returned_tool.folio %>
  </div>
  <div class="col-md-5">
    <%= link_to returned_tool, remote: true, class:'btn btn-info btn-sm' do %>
        <span class="glyphicon glyphicon-search"></span> Mostrar
    <% end %>
  </div>
</div>