<div class="row">
  <div class="col-md-4 form_container">
    <div class="form_header text-center">
      <i class="fa fa-list-ol" aria-hidden="true"></i> Inspecciones programadas
    </div>
    <%= form_tag "/fleets/get_graph", remote: true %>
    <div class="form-group aircrafts">
      <%= label_tag :fleet_fleet_id, 'Aeronave' %>
      <%= collection_select :fleet, :fleet_id, @fleets, :id, :name, {prompt: 'Seleccionar'}, {class: 'form-control'} %>
    </div>
    <div class="systems_container">

    </div>

  </div>


  <div class="col-md-8">
    <div class="table_container">
      <div class="row table_head">
        <div class="col-md-12">Inspecciones futuras</div>
      </div>
      <div class="nano">
        <div class="content">
          <div id="container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal_container"></div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $(".nano").nanoScroller({ scroll: 'bottom' });
    $('.aircrafts').on('change', 'select', function () {
      if (!($(this).val().length == 0)){
        $.ajax({
          method: 'GET',
          url: ' 	/fleets/'+$(this).val()+'/get_systems',
          dataType: 'script'
        });
      }
    });


















  });
</script>
