<div class="row" id="<%= dom_id(incoming_tool) %>">
  <div class="col-md-7 item_crud"><%= incoming_tool.folio %></div>
  <div class="col-md-5">
    <%= link_to incoming_tool, remote: true, class:'btn btn-info btn-sm' do %>
        <span class="glyphicon glyphicon-search"></span> Mostrar
    <% end %>
  </div>
</div>

