<div class="row table_row">
  <div class="col-md-4">
    <%= product.description %>
  </div>
  <div class="col-md-2">
    <input type="text" name="incoming_details[][quantity]" class="form-control">
  </div>
  <div class="col-md-4 date-container">
    <input type="text" name="incoming_details[][expiration_date]" class="form-control datepicker">
  </div>
  <input type="hidden" name="incoming_details[][product_id]" value="<%= product.id %>">
  <div class="col-md-2 text-center">
    <button type="button" class="btn btn-danger delete_row">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>

</div>








