<div id="modal" class="modal fade modal_show" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Mostrar
      </div>
      <div class="modal-body">
        <strong>Tipo de movimiento: </strong> <%= incoming_movement.incoming_movement_type.movement_type %> <br>
        <strong>Proveedor: </strong> <%= incoming_movement.supplier.supplier %> <br>
        <% incoming_movement.incoming_details.each do |detail| %>
          <strong>Cantidad: </strong><%= detail.quantity %> <br>
          <strong>Fecha de expiración: </strong><%= detail.expiration_date %> <br>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>