<div class="data_info">

  <div class="small-box bg-user">
    <div class="inner">
      <h4>Usuario</h4>
      <p><%= user.name %></p>
    </div>
    <div class="icon">
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <a href="#" class="small-box-footer">Mas informacion <i class="fa fa-arrow-circle-right"></i></a>
  </div>
  <div class="small-box bg-green">
    <div class="inner">
      <h3><%= borrowed_tools.count %></h3>
      <p>Resguardos</p>
    </div>
    <div class="icon">
      <i class="fa fa-shopping-cart fa-flip-horizontal" aria-hidden="true"></i>
    </div>
    <a href="#" class="small-box-footer">Mas informacion <i class="fa fa-arrow-circle-right"></i></a>
  </div>
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3><%= returned_tools.count %></h3>
      <p>Devoluciones</p>
    </div>
    <div class="icon">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
    <a href="#" class="small-box-footer">Mas informacion <i class="fa fa-arrow-circle-right"></i></a>
  </div>
  <div class="small-box bg-red">
    <div class="inner">
      <h3>0</h3>
      <p>Datos</p>
    </div>
    <div class="icon">
      <i class="fa fa-unlock-alt" aria-hidden="true"></i>
    </div>
    <a href="#" class="small-box-footer">Datos <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>