<div class="row">
  <div class="col-md-4 form_container">
    <div class="form_header text-center">
      <i class="fa fa-reply" aria-hidden="true"></i> Movimiento de salida
    </div>
    <%= render partial: 'form', locals: {movement_type: @movement_type} %>
  </div>
  <div class="col-md-8">
    <div class="table_container">
      <div class="row table_head">
        <div class="col-md-6">Tipo de movimiento</div>
        <div class="col-md-6">Administrar</div>
      </div>
      <div class="nano">
        <div class="content">
          <%= render @movement_types %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal_container"></div>
<script>
  $(document).ready(function () {
    $(".nano").nanoScroller({ scroll: 'bottom' });
  });
</script>