@import "bootstrap-sprockets";
@import "bootstrap";
@import "aircrafts";
@import "systems";
@import "components";
@import "parts";
@import "fleets";
@import "scheduled_inspections";
@import "bootstrap-select";
@import "flights";
@import "product_units";
@import "incoming_movements";
@import "nano";
@import "bootstrap-datepicker3";
@import "outgoing_movements";
@import "font-awesome-sprockets";
@import "font-awesome";

// Estilos para el almacén
.product_units.index,
.products.index,
.suppliers.index,
.incoming_movement_types.index,
.outgoing_movement_types.index,
.receivers.index,
.incoming_movements.index,
.outgoing_movements.index{
  margin-top: 10px;
  .modal_show, .modal_edit, .modal_delete{
    .modal-content{
      width: 350px;
      margin: 0 auto;
      border-radius: 0;
    }
    .modal-header{
      color: white;
      text-align: center;
      font-size: 1.5em;
    }
    .modal-footer{
      text-align: center;
      button{
        color: white;
        border: 0;
        border-radius: 0;
        font-size: 12px;
      }
    }
  }
  .modal_show{
    .modal-header{
      background-color: #4aafcd;
    }
    .modal-footer{
      border-top-color: #4aafcd;
      button{
        background-color: #4aafcd;
      }
    }
  }
  .modal_edit{
    .modal-header{
      background-color:#faa632;
    }
    .modal-body{
      input{
        border-radius: 0;
      }
      .btn{
        width: 100%;
        border-radius: 0;
      }
    }
    .modal-footer{
      border-top-color:#faa632;
      button{
        background-color:#faa632;
      }
    }
  }
  .modal_delete{
    .modal-header{
      background-color:#da4f4a;
    }
    .modal-body{
      text-align: center;
    }
    .modal-footer{
      border-top-color:#da4f4a;
      button{
        background-color:#4aafcd;
      }
      a{
        background-color:#da4f4a;
      }
    }
  }
  .form_container{
    .form_header{
      background-color: #2980b9;
      padding: 7px 0;
      color: white;
    }
    form{
      background-color: white;
      padding: 15px 15px;
      border: thin solid rgba(#016ecd, 0.3);
      input{
        border-radius: 0;
      }
      .btn{
        width: 100%;
      }
    }
  }
  .table_container{
    border: thin solid rgba(#016ecd, 0.3);
    padding: 0 15px;
    .table_head{
      background-color: #2980b9;
      color: white;
      padding: 7px 0!important;
    }
    .row{
      padding: 5px 0;
      &:hover:not(.table_head){
        background-color: rgba(#4aafcd, 0.2);
      }
      .btn{
        width: 100%;
        border-radius: 0;
      }
    }
  }
}



.top_navbar{
  margin-bottom: 0;
  border: 0;
  background-color: #f39c12;
  color: white!important;
  a{
    color: white;
  }
}
body{
  padding-top: 50px;
}
//*************************** Barra lateral ****************************//

$width_sidebar: 250px;

.main_container{
  margin-left: $width_sidebar;
}
.side_navbar{
  width: $width_sidebar;
  height: 100%;
  position: fixed;
  border-radius: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  border: 0;
  .active_sidebar{
    background-color:  #16a085;
    a{
      color: white;
      &:hover{
        background-color: #1abc9c;
      }
    }

  }
  ul{
    width: 100%;
    li{
      width: 100%;
      border-bottom: thin solid rgba(#666666, 0.2);
      a{
        color: #2E2F30;
      }
    }
  }
}


//**************************** Migas de pan****************************/
.my_breadcrumb{
  $blue-gray: #34495e;
  $blue-gray-darken: #2c3e50;
  $blue: #3498db;
  $blue-darken: #2980b9;
  $green: #1abc9c;
  $green-darken: #16a085;
  background-color: rgba(#1abc9c,0.1);
  height: 40px;
  padding-left: 15px;
  margin-top: 10px;
  *{
    margin: 0;
    padding: 0;
    //@include box-sizing(border-box);
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
  }


  #breadcrumb{
    list-style:none;
    display: inline-block;
    li{
      float:left;

      a{
        color:#FFF;
        display:block;
        background: $blue;
        text-decoration: none;
        position:relative;
        height: 40px;
        line-height:40px;
        padding: 0 10px 0 5px;
        text-align: center;
        margin-right: 23px;
      }
      &:nth-child(even){
        a{
          background-color: $blue-darken;
          &:before{
            border-color:$blue-darken;
            border-left-color:transparent;
          }
          &:after{
            border-left-color:$blue-darken;
          }
        }
      }
      &:first-child{
        a{
          padding-left:15px;
          &:before{
            border:none;
          }
        }
      }
      &:last-child{
        a{
          padding-right:15px;
          &:after{
            //border:none;
          }
        }
      }

      a{
        &:before,
        &:after{
          content: "";
          position:absolute;
          top: 0;
          border:0 solid $blue;
          border-width:20px 10px;
          width: 0;
          height: 0;
        }
        &:before{
          left:-20px;
          border-left-color:transparent;
        }
        &:after{
          left:100%;
          border-color:transparent;
          border-left-color:$blue;
        }
        &:hover{
          background-color: $green;

          &:before{
            border-color:$green;
            border-left-color:transparent;
          }
          &:after{
            border-left-color:$green;
          }
        }
        &:active{
          background-color: $green-darken;

          &:before{
            border-color:$green-darken;
            border-left-color:transparent;
          }
          &:after{
            border-left-color:$green-darken;
          }
        }
      }
    }
  }
}
