<div class="bug-report-container">
  <div class="row alert alert-warning">
    <div class="col-md-6"><i class="fa fa-bug" aria-hidden="true"></i> <strong>Reporte</strong></div>
    <div class="col-md-2"><i class="fa fa-eye" aria-hidden="true"></i> <strong>Mostrar</strong></div>
    <div class="col-md-2"><i class="fa fa-user" aria-hidden="true"></i> <strong>Usuario</strong></div>
    <div class="col-md-2"><i aria-hidden="true" class="fa fa-wrench"></i> <strong>Estado</strong></div>
  </div>
  <%= render @bug_reports %>
</div>

<div class="modal_container"></div>

