<%= form_for inspection, remote: true do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Nombre' %> <span class="label label-danger">R</span>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <%= f.submit 'Guardar', class: 'btn btn-primary btn-sm' %>
<% end %>
